<div class="contents">
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
       
    </nav>
    <main id="pad" class="main container card">
        <section class="container middle">
            <div class="jumbotron py-3 text-white rounded bg-dark text-center">
                <div class="col py-3 text-center">
                    <h1 class=" font-italic text-center orderup">Whatcha in the mood for?</h1>
                    <br>
                    <input type="text" class="form-control" width="300px" id="name"
                        placeholder="Enter burger here"><button class="btn btn-primary" type="submit"
                        id="submit">Order</button>
                    <br>
                    <br>
                    <p>Make a Burger, then click order!</p>
                </div>
            </div>
        </section>
        <div class="row ">
            <div class="col-md-6">
                <div class="tile">
                    <h1 id="left" class="tile-title text-center font-weight-bold">Burgers:</h1>
                    <table class="font-weight-bold">
                        {{#each burgers}}
                        {{#unless devoured}}
                        <div class="burgerblock">
                            <h2><img src="../assets/img/burger.jpg" width="30" height="30" class="burger"
                                    data-id="{{this.id}}">
                                {{burger_name}}<img class="burger" src="../assets/img/munch.jpg" width="30" height="30" data-id="{{this.id}}">
                                </h2>
                                
                        </div>
                        {{/unless}}
                        {{/each}}
                    </table>
                </div>
            </div>
            <div class="col-md-6" id="right">
                <div class="tile">
                    <h1 id="right " class="text-center font-weight-bold">Devoured:</h1>
                    <table class="font-weight-bold">
                        {{#each burgers}}
                        {{#if devoured}}
                        <div class="burgerblock">
                            <h2><img src="./assets/img/star.jpg" width="30" height="30" class="cutlery"
                                    data-id="{{this.id}}">
                                {{burger_name}}</h2>
                        </div>
                        {{/if}}
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Are you full yet? <br> Made by: Sara Wilson | 2021</span>
        </div>
    </footer>